:root {
  --yellow: rgb(255, 238, 0);
  --light-green: rgba(0, 255, 115, 0.235);
  --dark-grey: rgb(19, 19, 19);
  --pink: rgb(255, 0, 242);
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: black;
  color:var(--yellow);
  margin:0;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  background-color: var(--dark-grey);
}

h1 {
  margin: 0;
  font-size: 70px;
  font-family: 'Handjet', cursive;
}

#gridContainer > div {
 background-color: white;
 border:0.5px solid rgba(175, 175, 175, 0.273);
}


#gridContainer {
  display: grid;
  border: 4px solid var(--yellow);

}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  background-color: rgb(23, 23, 23);
  min-width: 20vw;
  padding: 45px 2rem;
}

.siderbar > * {
  margin-bottom: 20px;
}

.sizePicker {
  border: 2px solid;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.sizePicker > p {
  margin: 0 auto 5px auto;
}

footer {
  text-align: center;
  margin: 0 auto;
  bottom: 10px;
  width: 100%;;
  padding: 20px
}

button {
margin-bottom: 20px;
background-color:rgba(8, 8, 8, 0.678);
color:var(--yellow);
border: 2px solid;
height: 30px;
}

button:active {
  background-color: var(--light-green);
}

.colorPickerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

}

#colorPicker {
  margin-right: 15px;
  border: 0;
}

.gridContainerWrap {
  border:45px solid var(--dark-grey)
}

button:focus {
  background-color: var(--pink);
}

.pen {
  margin-top: 20px;
}